# wildcards
.deps
.dirstamp
.libs
*.jar
*.la
*.lo
*.o
*.pyc
/bindings/java/net/rescrv/*/*.class
# specific files
/aclocal.m4
/autom4te.cache
/bin/ygor
/compile
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4
/Makefile
/Makefile.in
/missing
/stamp-h1
/test-driver
/test-salsa208-guacamole
/ygor-armnod
/ygor-cdf
/ygor/collect.c
/ygor/collect.so
/ygor-guacamole
/ygor-inspect
/ygor-merge
/ygor.pc
/ygor-self-measure
/ygor-timeseries
/ylwrap
