# wildcards
.deps
.dirstamp
.libs
*.jar
*.la
*.lo
*.o
*.pyc
/bindings/java/net/rescrv/*/*.class
# specific files
/aclocal.m4
/autom4te.cache
/bin/ygor
/bin/ygor-armnod
/bin/ygor-cdf
/bin/ygor-dump
/bin/ygor-merge
/bin/ygor-summarize
/bin/ygor-timeseries
/bin/ygor-t-test
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4
/Makefile
/Makefile.in
/missing
/stamp-h1
/test-salsa208-guacamole
/ygor/collect.c
/ygor/collect.so
/ygor.pc
/ylwrap
